 body {
      background-color: #D4A373;
      padding: 40px 0;
    }

    .grade-form {
      background-color: #FCF4D7;
      border-radius: 10px;
      padding: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      width: 100%;
      max-width: 1100px;
      margin: auto;
    }

    .subject-separate img {
      max-width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 5px;
      margin-bottom: 15px;
    }

    .form-label {
      font-weight: bold;
      text-transform: capitalize;
      display: block;
    }

    .subject-separate {
      padding: 0 15px;
      margin-bottom: 30px;
    }